<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <h1>Hello world</h1>
        <h2><%=name%></h2>
        <p
            style="background: orange; padding: 10px; border-radius:5px ;"><%=numbers%></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
            tempore.</p>

        <%if (name =="test"){ %>
        <div>
            name is test
        </div>
        <% }

        %>
    </body>
</html>